/* Tổng thể */
html,
body {
    height: 100%;

    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #f8f9fa;
    color: #333;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #577D86;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2.2em;

    font-weight: bold;
    letter-spacing: 1px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;

    font-size: 1.3em;

    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #f8f9fa;
    transform: translateY(-3px);
}

/* Main content */
main {
    text-align: center;
    padding: 50px;

    background-color: #fff;

    margin: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);

}

.box {
    background-color: #3C3D37;
    color: #fff;
    padding: 30px 30px;
    display: inline-block;
    border-radius: 25px;
    font-size: 1.5em;

    font-weight: bold;
    margin-bottom: 40px;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 3em;

    color: #343a40;
    margin: 30px 0;
    font-weight: 700;
}

main p {
    font-size: 1.5em;

    color: #6c757d;
    margin: 30px 0;
    line-height: 1.8;

    font-weight: 400;
}

input[type="email"] {
    padding: 15px;
    font-size: 1.2em;

    width: 350px;
    max-width: 90%;
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border 0.3s ease;
}

input[type="email"]:focus {
    border: 2px solid #577D86;
}

button {
    padding: 18px 40px;
    font-size: 1.5em;
    background-color: #87CBB9;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
    background-color: #569DAA;
    transform: translateY(-3px);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #577D86;
    color: #fff;
    font-size: 1em;
    margin: 0px;
    border-top: 1px solid #444;
    width: auto;
    flex-shrink: 0;
}

/* Cấu trúc container chứa các thẻ */
.tags-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    gap: 200px;
    position: fixed;
    top: 100px;

}

/* Cấu trúc bên trái và bên phải */
.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    padding: 10px 5px;
    align-items: center;

}

/* Kiểu dáng cho các thẻ */
.tag {
    background-color: #007bff;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.left {
    position: fixed;
    top: 90px;
    left: 0;

}

.right {
    position: fixed;
    top: 90px;
    right: 0;
}

/* Hiệu ứng hover khi di chuột qua thẻ */
.tag:hover {
    background-color: #0056b3;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Thêm kiểu cho các thẻ trong các cột bên trái và bên phải */
.left .tag {
    background-color: #e6e9e7;
}

.right .tag {
    background-color: #e3eaeb;
}


/* Hiệu ứng hover khi di chuột qua thẻ */
.tag:hover {
    background-color: #eff0f1;
    transform: translateY(-5px) scale(1.1);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

/* Thêm kiểu cho các thẻ trong các cột bên trái và bên phải */
.left .tag {
    background-color: #e6e9e7;
}

.right .tag {
    background-color: #e3eaeb;
}

/* Tạo kiểu cho màn hình nhỏ */
@media (max-width: 768px) {
    .tags-container {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tag {
        margin: 5px;
        font-size: 14px;
    }
}